<div id="wrapper" data-view="dashboard" class="skin-2">

  <!-- Menu -->
  <div ng-if="vm.showMenu" ng-include=" 'src/dashboard/dashboard-menu.html' "></div>

  <!-- Contenedor -->
  <div id="page-wrapper" class="gray-bg">

      <!-- Barra superior -->
      <div ng-include src=" 'src/dashboard/dashboard-topnavigation.html' "></div>

      <!-- Contenido -->
      <ui-view></ui-view>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg cometFooter">
          <p><strong>© Equipo Comet 2016</strong>
        </div>
      </div>

      <!-- Miembros -->
      <div ng-if="vm.showMembersList" ng-include=" 'src/projects/project-members.html' "></div>
    </div>
</div>
