<div class="row border-bottom">
  <nav class="navbar navbar-static-top dash-top-fixed" role="navigation" style="margin-bottom: 0">
    <div class="search-header">
      <i ng-style="{'visibility': (vm.project !== null && vm.showSearch) ? 'visible':'hidden'}" class="fa fa-search"></i>
      <form ng-submit="vm.buscar(vm.textoBusqueda)" ng-style="{'visibility': (vm.project !== null && vm.showSearch)  ? 'visible':'hidden'}" role="search" class="navbar-form-custom">
          <div class="form-group">
              <input type="text" ng-model="vm.textoBusqueda" placeholder="{{vm.placeholder}}" class="form-control" maxlength="50">
          </div>
      </form>
    </div>
    <div class="navbar-header cometTitle">
      <ul>
        <li style="padding-right:10px">
            <img alt="image" src="../../images/comet_logo.png"/>
        </li>
        <li>
            <h1 class="font-bold">Comet</h1>
        </li>
      </ul>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li ng-if="vm.systemNotifications.length > 0" class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown">
          <i class="fa fa-bell"></i>
          <span class="label label-warning">{{vm.systemNotifications.length}}</span>
        </a>
        <ul class="dropdown-menu dropdown-messages cometNotifications">
          <li ng-repeat="notif in vm.systemNotifications">
            <a href="{{notif.link}}">
              <div class="dropdown-messages-box">
                <div class="media-body">
                  <div>
                    <span style="text-style=italic">{{::notif.projectName}}</span>
                    <small class="text-muted" style="float: right;">{{::notif.formattedDate}}</small>
                  </div>
                  <strong>{{::notif.text}}</strong>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="btnPerfil">
        <a ui-sref="dashboard.profile"><i class="fa fa-male"></i>Perfil</a>
      </li>
      <li>
        <a ng-if="vm.showLogout" ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Salir</a>
      </li>
      <li>
        <a ng-if="vm.showExit" ng-click="vm.close()"><i class="fa fa-times-circle"></i> Cerrar</a>
      </li>
    </ul>
  </nav>
</div>
