<nav class="navbar-default navbar-static-side dash-side-fixed" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span class="profile-picture">
            <img alt="image" class="img-circle" ng-src="{{vm.user.profilePicture}}" width="60" height="60" />
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle">
            <span class="clear username">
              <span class="block m-t-xs">
                <strong class="font-bold">{{ vm.user.fullName }}</strong>
                <b class="caret"></b>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu m-t-xs">
            <li><a ui-sref="dashboard.profile">Perfil</a></li>
            <li class="divider"></li>
            <li><a ng-click="vm.logout()">Salir</a></li>
          </ul>
        </div>
        <!-- Create channel button -->
        <button ng-show="(vm.project != null || vm.project.state === 'O')"
                ui-sref="dashboard.project.channel-create" type="button"
                name="btnCrearCanal" class="btnCrearCanalMenu btn btn-primary btn-xs btn-block btn-outline">
            Crear Canal
        </button>
        <!-- Create project button -->
        <button ng-show="(vm.project == null)"
                ng-click="vm.gotoCreateProject()"
                type="button"
                name="btnCrearProyecto" class="btnCrearProyectoMenu btn btn-primary btn-xs btn-block btn-outline">
            Crear Proyecto
        </button>
      </li>
      <div class="scroll-content">
          <li>
            <div class="tituloMisCanalesMenu">
              Mis canales
            </div>
          </li>
          <li class="m-t" ng-show="vm.project != null">
            <a ui-sref="dashboard.project.project-explore">
              <span class="nav-label">
                <i class="fa fa-rss-square"></i>
                Públicos
              </span>
            </a>
            <ul class="nav nav-second-level" nav-menu-active="selected-channel" notification-class="has-notification">
              <li ng-repeat="channel in vm.publicChannels" ui-sref-active="selected-channel">
                <a ng-class="{ 'has-notification': channel.hasNotification }"
                   ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:channel.id, isDirect:false, loadById:undefined, direction:undefined, messageId:undefined, limit:undefined, destUserId:undefined})"
                   data-type="S"
                   data-id="{{channel.id}}">
                   {{channel.name}}
                   <i ng-show="channel.hasNotification" class="fa fa-circle" style="float: right; padding-top: 5px;font-size: 10px;"></i>
                </a>
              </li>
              <li ng-show="vm.publicChannels.length == 0 && vm.therearepublicchannels">
                <a href="" style="cursor:default; font-size:12px">No formas parte de ninguno</a>
              </li>
              <li ng-show="vm.publicChannels.length == 0 && !vm.therearepublicchannels">
                <a href="" style="cursor:default; font-size:12px">No hay canales públicos</a>
              </li>
            </ul>
          </li>
          <li class="m-t" style="margin-bottom:30px" ng-show="vm.project != null">
            <a>
              <span class="nav-label" style="cursor:default;">
                <i class="fa fa-lock"></i>
                Privados
              </span>
            </a>
            <ul class="nav nav-second-level" nav-menu-active="selected-channel" notification-class="has-notification">
              <li ng-repeat="channel in vm.privateChannels" ui-sref-active="selected-channel">
                <a ng-class="{ 'has-notification': channel.hasNotification }"
                   ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:channel.id, isDirect:false, loadById:undefined, direction:undefined, messageId:undefined, limit:undefined, destUserId:undefined})"
                   data-type="P"
                   data-id="{{channel.id}}">
                   {{channel.name}}
                   <i ng-show="channel.hasNotification" class="fa fa-circle" style="float: right; padding-top: 5px;font-size: 10px;"></i>
                </a>
              </li>
              <li ng-show="vm.privateChannels.length == 0 && vm.thereareprivatechannels">
                <a href="" style="cursor:default; font-size:12px">No formas parte de ninguno</a>
              </li>
              <li ng-show="vm.privateChannels.length == 0 && !vm.thereareprivatechannels">
                <a href="" style="cursor:default; font-size:12px">No hay canales privados</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>
  </div>
</nav>
