<div id="wrapper" data-view="dashboard" class="skin-2">

  <!-- Menu -->
  <div ng-if="vm.showMenu" ng-include=" 'src/dashboard/dashboard-menu.html' "></div>

  <!-- Contenedor -->
  <div id="page-wrapper" class="gray-bg">

      <!-- Barra superior -->
      <div ng-include src=" 'src/dashboard/dashboard-topnavigation.html' "></div>

      <!-- Contenido -->
      <ui-view></ui-view>

      <!-- Miembros -->
      <div ng-if="vm.showMembersList" ng-include=" 'src/projects/project-members.html' "></div>
    </div>
</div>
