<div class="row white-bg">
  <div id="formulario" class="middle-box text-center animated fadeIn">
      <div>
         <h1 class="logo-name"><a href="/#/">Comet</a></h1>
      </div>
      <div ng-hide="vm.enviado">
        <p>Por favor ingresa tu dirección de correo y te enviaremos un correo con instrucciones para recuperar tu contraseña</p>
        <form name="vm.frmRecover" class="m-t" role="form" ng-submit="vm.recoverPassword()" novalidate="">
          <div class="form-group" ng-class="{ 'has-error': vm.frmRecover.email.$invalid && vm.frmRecover.email.$dirty }">
             <input type="email" name="email" ng-model="vm.email" class="form-control" placeholder="Dirección de correo" required="">
             <div ng-messages="vm.frmRecover.email.$error" ng-if="vm.frmRecover.email.$dirty" class="control-label" role="alert">
                <div ng-message="required" class="text-center">Debes ingresar el correo</div>
                <div ng-message="email" class="text-center">El correo ingresado es inválido</div>
             </div>
             <div ng-if="vm.validationErrors['email']" class="has-error control-label" role="alert">
                <div class="text-center">{{ vm.validationErrors['email'] }}</div>
             </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="vm.frmRecover.$invalid">Recuperar contraseña</button>
          <a href="/#/account/login" class="m-l">Volver al inicio</a>
        </form>
      </div>
      <div ng-show="vm.enviado">
        <h3>Correo enviado</h3>
        <p>Enviamos un correo a {{vm.email}}</p>
        <p>Por favor abre el correo y sigue el vínculo que te enviamos para recuperar tu contraseña</p>
        <p><a href="/#/" class="btn btn-primary">Volver</a></p>
      </div>
    </div>
</div>
