<div class="container">
  <nav class="navbar">
    <div class="container">
      <h3><a ui-sref="home" style="color:#585858; font-size:33px"><img src="../../images/comet_logo_grey.png" style="height: 40px; padding-right:10px;">Comet</a></h3>

      <div id="navbar" class="navbar-collapse collapse">
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="row white-bg">
  <div id="formulario" class="middle-box text-center animated fadeIn">
      <div>
         <h3 class="logo-name">Comet</h3>
      </div>
      <div class="m-t" ng-show="vm.passwordChanged">
        <p>La contraseña ha sido modificada con exito!</p>
        <p><a ui-sref="account-login" class="btn btn-primary">Ir al inicio de sesión</a></p>
      </div>
      <div ng-hide="vm.passwordChanged">
        <h3>Ingrese la nueva contraseña para</h3>
        <h3 class="text-muted">{{vm.recoverEmail}}</h3>
        <form name="vm.frmRecover" class="m-t" role="form" ng-submit="vm.recoverPasswordValidate()" novalidate="">
          <!-- Contraseña -->
          <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'password') }">
            <input type="password" autofocus name="password" class="form-control" placeholder="Contraseña"
                                   ng-model="vm.password"
                                   popover="{{vm.passwordPattern}}"
                                   popover-placement="bottom"
                                   popover-trigger="focus"/>
            <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'password')" class="control-label" role="alert">
               <div class="text-center">{{ vm.validationErrors['password'] }}</div>
            </div>
          </div>
          <!-- Repetir Contraseña -->
          <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword') }">
            <input type="password"  name="confirmPassword" ng-model="vm.confirmPassword" class="form-control" placeholder="Repetir la contraseña">
            <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword')" class="control-label" role="alert">
               <div class="text-center">{{ vm.validationErrors['confirmPassword'] }}</div>
               <div>{{ vm.validationErrors['all'] }}</div>
            </div>
          </div>
          <!-- Submit -->
          <button type="submit" name="button" class="btn btn-primary">Cambiar contraseña</button>
        </form>
      </div>
   </div>
 </div>
 <div class="row">
   <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg cometFooter">
     <p><strong>© Equipo Comet 2016</strong>
   </div>
 </div>
</div>
