<div class="loginColumns">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">Bienvenido a Comet</h2>

            <p>
                Ingresa tu dirección de email y contraseña para acceder a tu cuenta.
            </p>
            <p>
                ¡Tus proyectos te están esperando!
            </p>

            <a href="/#/">
                Volver al inicio
            </a>

        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <form name="vm.frmLogin" class="m-t" role="form" ng-submit="vm.login()" novalidate="">
                    <div class="form-group" ng-class="{ 'has-error': vm.frmLogin.email.$invalid && vm.frmLogin.email.$dirty }">
                       <input type="email" name="email" ng-model="vm.user.email" class="form-control" placeholder="Direccion de email" required="">
                       <div ng-messages="vm.frmLogin.email.$error" ng-if="vm.frmLogin.email.$dirty" class="control-label" role="alert">
                          <div ng-message="required" class="text-center">Debe ingresar el email</div>
                          <div ng-message="email" class="text-center">El email ingresado es inválido</div>
                       </div>
                       <div ng-if="vm.validationErrors['email']" class="has-error control-label" role="alert">
                          <div class="text-center">{{ vm.validationErrors['email'] }}</div>
                       </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': vm.frmLogin.password.$invalid && vm.frmLogin.password.$dirty }">
                       <input type="password" name="password" ng-model="vm.user.password" class="form-control" placeholder="Contraseña" required="">
                       <div ng-messages="vm.frmLogin.password.$error" ng-if="vm.frmLogin.password.$dirty" class="control-label" role="alert">
                          <div ng-message="required" class="text-center">Debe ingresar una contraseña</div>
                       </div>
                       <div ng-if="vm.validationErrors['password']" class="has-error control-label" role="alert">
                          <div class="text-center">{{ vm.validationErrors['password'] }}</div>
                       </div>
                    </div>

                    <button type="submit" ng-disabled="vm.frmLogin.$invalid" class="btn btn-primary block full-width m-b">Login</button>

                    <a href="/#/account/forgot">
                        <small>Olvidaste tu contraseña ?</small>
                    </a>

                    <p class="text-muted text-center">
                        <small>No tenés cuenta ?</small>
                    </p>
                    <a class="btn btn-sm btn-white btn-block" href="/#/user/create">Crear una cuenta</a>
                </form>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            The Comet Company
        </div>
        <div class="col-md-6 text-right">
           <small>©2015</small>
        </div>
    </div>
</div>
