<div class="container">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Comet</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="loginColumns">
    <div class="row">
      <div class="col-md-6">
        <h2 class="font-bold">Bienvenido a Comet</h2>
        <p>
          Ingresa tu dirección de correo y contraseña para acceder a tu cuenta.
        </p>
        <p>
          ¡Tus proyectos te están esperando!
        </p>
      </div>
      <div class="col-md-6">
        <div id="loginbox" class="ibox-content">
          <form name="vm.frmLogin" class="m-t" role="form" ng-submit="vm.login()" novalidate="">
            <!-- Email -->
            <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'email') }">
              <input type="text" name="email" ng-model="vm.user.email" class="form-control" placeholder="Dirección de correo" required="">
              <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'email')" class="control-label" role="alert">
                <div class="text-center">{{ vm.validationErrors['email'] }}</div>
              </div>
            </div>
            <!-- Password -->
            <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'password') }">
              <input type="password" name="password" ng-model="vm.user.password" class="form-control" placeholder="Contraseña" required="">
              <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'password')" class="control-label" role="alert">
                <div class="text-center">{{ vm.validationErrors['password'] }}</div>
                <div class="text-center">{{ vm.validationErrors['all'] }}</div>
              </div>
            </div>
            <div ng-show="vm.validationErrors.closed" class="alert alert-warning text-center" role="alert">
              <p>Tu cuenta se encuentra cerrada.</p>
              <p><a type="button" href="/#/account/reopen" class="btn btn-xs btn-warning">Reabrir cuenta</a></p>
            </div>
            <!-- Submit -->
            <button type="submit" class="btn btn-primary block full-width m-b">Iniciar sesión</button>
            <p class="text-center">
              <a href="/#/account/forgot">
              <small>¿Olvidaste tu contraseña?</small>
              </a>
            </p>
            <a class="btn btn-sm btn-white btn-block" href="/#/user/create">Crear una cuenta</a>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper wrapper-content">
        </div>
        <div class="footer">
          <div>
            <p class="m-t"> <small>&copy; Equipo Comet 2015</small> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
