
/* MQ: estilo para validacion de form que me faltaba */
.has-error.control-label {
  color: #ed5565;
}

.logo-name a {
  color: #e6e6e6;
}

#formulario.middle-box {
	position: relative;
	margin-top: 0;
}

#formulario.middle-box  h1{
	margin-left: -60px;
}

.modificarCuenta.middle-box {
	height:500px;
}

#modificarCuentaTabs.nav-tabs {
	width:490px;
}
