

/* Para Angular Bootstrap */
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*clearfix*/
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

/*ngImgCrop*/
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:250px;
    height:250px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

/* links deshabilitados */
a.disabled {
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

/* Validacion de forms */
.has-error.control-label, .has-error .input-group {
  color: #ed5565;
}

.badge {
  font-family: Verdana !important;
}

.label {
  font-family: Verdana !important;
}

.logo-name a {
    color: #e6e6e6;
}

.logo-name {
    font-size: 100px;
    letter-spacing:normal;
    font-weight: normal;
}

/* Top Navigation   */
.cometTitle {
    width: 25%;
    text-align: center;
    margin-top: 10px;
}
.cometTitle ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.cometTitle li {
    float: left;
}

.cometTitle h1 {
    color:white;
    font-size:40px;
    margin:0;
}

.cometTitle img {
  height: 40px;
}

.dropdown-messages.cometNotifications{
	width:300px;
}

.dropdown-messages.cometNotifications li{
	margin-right: 0 !important;
}

.dropdown-messages.cometNotifications .media-body{
	width:auto;
  padding: 0;
  margin: 0;
}

.search-header{
  margin-left: 240px;
  color: #C1C1C1;
}

.search-header input{
  width: 290px;
}

.search-header > i {
  float:left;
  margin-top: 22px;
  color: white;
  font-size: 16px;
}

.btnPerfil {
  display: none!important;
}

/* Wrapper del dashboard - color de fondo azul */
#wrapper {
    background-color: #213A53!important;
}

/* las views internas del dashboard llevan un gris de fondo */
body[state^="dashboard."] {
  background-color: #E7EAEC;
}

body[state="dashboard.project.channel-explore"] {
  background-color: #FFF !important;
}

.skin-2 .navbar-static-side {
    background: #213A53 none repeat scroll 0% 0%;
}

.skin-2 #side-menu > div > li.active,
.skin-2 .welcome-message {
  /*color: #edf6ff;*/
  background: #213A53;
}

.skin-2 .nav-tabs > li > a{
    color: #676A6C;
}

.skin-2 #side-menu > div > li > a,
.skin-2 #side-menu .nav > div > li > a,
.skin-2 #side-menu > li > a,
.skin-2 #side-menu .nav > li > a  {
    color: #EDF6FF;
    font-weight: 100;
    padding-top: 10px;
}

.skin-2 #side-menu > div > li > a > span {
  padding-left: 20px;
}

.nav-label {
  margin-top: 10px;
  font-weight: normal;
}

.nav-second-level li:last-child {
    margin-bottom: 0;
}

.nav-second-level li a {
  padding-left: 45px;
}

.menu-item-link {
  width: 205px !important;
}

#side-menu .profile-picture {
  padding-left: 55px;
}

#side-menu .username {
  text-align: center;
}
/*Dashboard Fijo*/

.skin-2 .nav-header {
  padding: 15px 25px 10px 25px;
}

.btnCrearCanalMenu,
.btnCrearProyectoMenu {
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 0;
}

.btnCrearCanalMenu.ng-hide.ng-hide-animate,
.btnCrearProyectoMenu.ng-hide.ng-hide-animate {
     display: none !important;
}

.tituloMisCanalesMenu {
    text-align: center;
    color: #EDF6FF;
    font-weight: 400;
    padding-top: 10px;
    font-size: 14px;
}

.dash-side-fixed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 1001;
}

.scroll-content {
  position: absolute;
  height: 80%;
  max-height: 80%;
  width: 220px;
  overflow: hidden;
}

.scroll-content:hover {
  overflow-y: auto;
}

.scroll-content > li > ul > li > a {
  width: 220px;
  text-overflow: ellipsis;
  overflow: hidden;
}


.dash-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#page-wrapper {
  margin-top: 60px;
  min-height: auto;
}

.skin-2 #page-wrapper {
  background: #E7EAEC;  /* igual al background color del elemento html */
}

/* Cambios del skin-2 */

.skin-2 .ibox-content{
  background: #ffffff;
}


.skin-2 .navbar-default .nav > li > a:hover,
.skin-2 .navbar-default .nav > li > a:focus {
  background: inherit;
  color: inherit;
}

/* para marcar canal con notificacion en menu */
.has-notification {
  font-weight: bold !important;
}

.selected-channel {
  background-color: #1ab394 !important;
}

.skin-2 .navbar-default .nav > li.selected-channel > a:focus {
  background-color: #1ab394 !important;
  color: #FFF;
}

/* Formularios */
#formulario.middle-box {
    position: relative;
    margin-top: 0;
}
#formulario.middle-box h1 {
    margin-left: -60px;
}
.modificarCuenta .tab-content {
    width: 600px;
}

.modificarProyecto .datos,
.modificarProyecto .cerrar {
  width: 600px;
}

.modificarProyecto .filter {
  width: 300px;
}

.modificarProyecto {
  margin-top: 70px;
}

.fixed-header {
  z-index: 100;
  border-top: 0;
  padding: 0px 10px 20px 10px;
  background-color:#e7eaec;
  border-bottom: 1px solid #e7eaec !important;
}

#loginbox {
    border-style: none solid none;
}

.mailLogin .col-md-6 {
  width: 100%;
}

.MemberList {
  position: fixed;
  z-index: 10;
}


/* Estilos para la vista de proyectos y canales*/
.col-lg-9 {
    width: 100%;
}

.col-lg-9 ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.col-lg-9 li {
    display: inline;
    /*width: 10%;*/
}

.buttonRight button{
    float: right;
}

.breadcrumb2 .form-control {
    width: 50%;
    float: left;
}

.proyecto-lg-4 {
    width: 50%;
    float:left;
}
.proyecto-sm-8 {
    width: 100%;
    height: 110px
}
.proyecto-sm-8 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.proyecto-sm-8 li {
    display: inline;
}

.miembrosProyecto li {
    display: inline;
}

.miembrosProyecto img {
    width: 9%
}

.rolProyecto {
    float: right
}

.miembrosProyecto p {
    display: inline;
    color: #666;
    text-align: center;
    vertical-align: middle;
    font: 3vw Arial, sans-serif;
}

/* Responsive Design */

.cometInput input, .cometInput textarea, .cometInput div{
    width:450px;
}

.cometInput textarea{
  resize:none;
}

.crearProyecto-sm-8 label{
  margin-right:10px;
  padding-left: 0px;
}

.invitarEmails{
  width:590px;
}


.ProjectCards {
  margin-top: 90px;
}

.ClosedProjects {
  margin-top:100px;
}

.ProjDescCard{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProjDesc{
    word-wrap: break-word;
}

.channel-explore-header .col-lg-10 {
  width: 80%;
}

.channel-explore-header .col-lg-2 {
  width: 20%;
  padding-right: 0;
  padding-left: 5px;
}

/*Crear Proyecto*/

.crearProyectoSubmit{
    margin-top:30px;
    margin-left:0;
    padding-left:0;
}

.crearProyectoSubmit button{
    width:150px;
}

/*Modificar Perfil*/

.user-profile-header .botonVolver {
  float:right;
  margin-right:30px;
}

/* Tablas */
.colHeaderOrder {
  font-weight: bold;
  color:rgb(103, 106, 108);
}

.columnaMiembros li {
    display: inline;
}

.columnaMiembros ul {
    padding:0;
    margin:0;
}

.columnaMiembros img {
    width: 35px;
}

.columnaMiembros p {
    display: inline;
    color: #666;
    text-align: center;
    vertical-align: middle;
    font: 2.5vw Arial, sans-serif;
}

.columnaIntegraciones ul {
    padding:0;
    margin:0;
}

.columnaIntegraciones li {
    display: inline;
}

.columnaIntegraciones img {
    width:35px;
}

.columnaCanal{
  /*width:160px; MQ:la dejo libre para que tenga mas lugar el nombre */
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columnaFecha{
  	width:130px;
}

.columnaDescripcion{
  	width:130px;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ClosedChannels {
  margin-top: 100px;
}

.OpenChannels {
  margin-top:100px;
}

.cometProjects:hover{
	border: 1px solid grey;
}


/* Explorar Canal */
.ExplorarCanal{
  background-color: #FFF;
}

.ExplorarCanal ul{
  padding-left:0px;

}


.ButtonAdminList{
  float: right;
  padding-top: 50px;
 }

 .ButtonAdminList div{
   float: right;
   padding-right: 20px;
  }

.ButtonAdminList .admin-item {
  padding-left:20px;
  position: relative;
}

.ButtonAdminList li a.disabled {
  color: #CCC;
  cursor:default;
}

.chat-discussion {
  height: auto;
  padding: 15px 0px 40px;
  background-color: #FFF;
  margin-top: 60px;
}


/* Piso los estilos de inspinia que ponen un msj a la izquierda y otro a derecha */
.chat-discussion .chat-message:nth-child(2n+1) .message-avatar,
.chat-discussion .chat-message:nth-child(2n) .message-avatar {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}

.chat-discussion .chat-message:nth-child(2n+1) .message-date,
.chat-discussion .chat-message:nth-child(2n) .message-date {
  float: right;
}

.chat-discussion .chat-message:nth-child(2n+1) .message,
.chat-discussion .chat-message:nth-child(2n) .message {
  text-align: left;
  margin-left: 55px;
  margin-right: 55px;
  background-color: #F5F5F5;
}

/* los mensajes del usuario se ven a la derecha */
.chat-discussion .chat-message.mine .message-avatar {
  float: right;
  margin-right: 0px;
}

.chat-discussion .chat-message.mine .message-date {
  float: left;
}

.chat-discussion .chat-message.mine .message {
  text-align: right;
  margin-right: 55px;
}

/* contenido del mensaje */
.chat-discussion .chat-message span.message-text {
  border:0;
  background-color: #F5F5F5;
  margin:0;
  padding:0;
  word-wrap: break-word;
  font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* mensajes autogenerados */
.chat-discussion .chat-message.auto span.message-text {
  font-style: italic;
}

/* mensajes de dropbox */
.message-dropbox-wrapper {
  width: 350px;
  margin-top: 5px;
}

/* alineacion a la derecha para mensajes propios de dropbox */
.chat-discussion .chat-message.mine .message-dropbox-wrapper {
  float:right;
}

.message-dropbox-inside {
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  min-height: 70px;
}

.message-dropbox-inside img {
  width: 50px;
  height: 50px;
}

.message-dropbox-inside .col-left {
  float:left;
  width: 10%;
}

.message-dropbox-inside .col-right {
  float:right;
  width: 80%;
}

.message-dropbox-inside .message-dropbox-name {
  font-weight: bold;
  font-size: 14px;
}

.message-dropbox-inside .message-dropbox-legend {
  font-weight: normal;
  font-size: 11px;
  font-style: italic;
}

/* Github */

.message-github-wrapper {
  width: 97%;
  margin-top: 5px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  min-height: 70px;
}

.message-github-wrapper .repository {
  font-weight: bold;
}

.message-github-wrapper .commit {
    margin-left: 20px;
}

.message-github-wrapper .user {
    font-style: italic;
}

.message-github-wrapper .commits-title {
  font-size: 14px;
}

/* Trello */

.message-trello-wrapper {
  width: 97%;
  margin-top: 5px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  min-height: 70px;
}

.message-trello-wrapper .board {
  font-weight: bold;
}

.message-trello-wrapper .card {
  font-weight: bold;
}

.message-trello-wrapper .comment {
  font-style: italic;
  margin-left: 20px;
}

.message-trello-wrapper .user {
    font-style: italic;
}

/* calls */
.message-callSummary-wrapper {
  margin-top: 5px;
  background-color: #FFF;
  border-radius: 5px;
  padding: 10px;
  min-height: 70px;
  text-align: left;
}

/* status cake */
.message-status-wrapper {
  margin-top: 10px;
}

.message-status-wrapper .status-down {
  color: red;
}

.message-status-wrapper .status-up {
  color: green;
}

/* Emojis */
.emoji-container {
    height: 300px;
    width: 265px;
    overflow: auto;
    position: absolute;
    top: -305px;
    border-radius: 8px;
    border: 1px solid #CCC;
    padding: 5px;
    background-color: #f7f7f7;
}

.emoji-container li.emoji {
  width: 36px;
  padding: 2px;
  display: inline-block;
  float: left;
}

/* Chat Actions   */
.chatActions ul{
  margin-bottom:25px!important;
  position:absolute;
}

.chatActions a i {
  padding-right:15px;
  margin-left:-15px;
  font-size:15px!important;
}

.ibox .open > .dropdown-menu{
  right: auto!important;
}

/*Members Sidebar*/
.chat-users-wrapper {
  top: 170px;
  position: fixed;
  right: 0;
  width: 25%;
  height: 65%;
  overflow-y: auto;
  background-color: white;
}

.chat-users {
  height: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.chat-user {
  padding: 10px 0;
}


/*Integration Sidebar*/
.chat-integrations-wrapper {
  top: 170px;
  position: fixed;
  right: 0;
  width: 25%;
  height: 65%;
  overflow-y: auto;
  background-color: white;
}

.chat-integrations {
  height: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.chat-integration {
  padding: 10px 0;
}




/*
  Dialogo Invitar Participantes
*/

/* estilos para los inputs con "tags"/"tokens" */
.ui-select-container.form-control[disabled] {
  background-color: #FFF;
  text-align: left;
}

.ui-select-container.form-control[disabled] .ui-select-match-item {
  color: #FFF;
  border-color: #23c6c8;
  background-color: #23c6c8;
}

.msj-sin-participantes {
  border: 1px solid rgb(229, 230, 231);
  padding: 3px;
  text-align: center;
}

/* Explorar canal */
.badge-channel-type {
  margin-left: 15px;
  vertical-align: middle;
}

.messageInputText{
  position:fixed;
  background-color: white;
  bottom:0;
  padding: 10px;
}

.messageInputText .fa{
  font-size:20px;
}

.messageInputText textarea{
  height:35px;
  overflow:hidden;
}

.form-horizontal .control-label{
  padding-top:0;
  text-align: left;
}

.channel-explore-header {
  z-index: 100;
  background-color:white;
  border-bottom: 1px solid #e7eaec !important;
}

.MenuFlotante {
  position: relative;
  z-index: 700;
}

.theme-config {
  position: fixed;
  z-index: 2000;
}

.theme-config .spin-icon {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}

.skin-setttings {
  background-color:white;
  overflow-y: hidden;
  max-height:500px;
  box-shadow: 0 0 10px rgba(179, 175, 175, 0.78);
}

.cometProjectUsers:hover {
  overflow-y: auto;
}

.cometProjectUsers ul {
  margin-bottom: 0;
  padding-left: 0;
}

.cometProjectUsers li {
  list-style: none;
}
.cometProjectUsers .chat-avatar {
  margin-left: 5px;
}

.cometProjectUsers .user-state {
  margin-right: 5px;
}

.cometProjectUsers .user-state.online {
  color:#1ab394;
}

.chat-user-name, .chat-integration-name {
  font-weight: 300;
}

.btn-primary-chat {
    width: 100%;
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

/* Integraciones */
.integration-list-caption {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.integration-header {
    padding:20px;
}

.integration-header .name {
  font-size: 16px;
  font-weight:bold;
  color:#676a6c;
}

.integration-detail {
  margin-left: 70px;
  padding: 10px;
  width: 85%;
  border-top: 1px solid #CCC;
}

.integration-detail .channel {

}

.integration-detail .name {

}

.integration-detail .date {
  font-style: italic;
}

.integrations-status, .integrations-buttons{
  vertical-align: middle!important;
}

.integrations-status span{
  font-size: 16px;
}

.integrations-icon {
    text-align: right;
    font-size: 38px;
    display: block;
    color: #e8e9ea;
    padding-top: 0!important;
}

.integrations-buttons{
  text-align: right;
}

/* Configurar integraciones */
#view-integration-create input.hookUrl {
  border:0;
  font-size:12px;
  font-family: monospace;
}

#view-integration-create .label-detail {
  font-weight: normal;
}

/* Resultados Buscador */

.search-results {
  margin-top: 125px;
}

.search-result-member {
  margin-top: 10px;
}

.search-result-member img {
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

.search-result-member b {
  color: #676a6c;
  font-weight: bold;
  font-size: 14px;
}

.search-result-member b:hover {
  color: #000;
  cursor: pointer;
}

.search-result-message {
  margin-top: 15px;
}

.search-result-message img {
  height: 36px;
  width: 36px;
  margin-right: 5px;
}

.search-result-message p {
  font-size: 12px;
  margin-left: 30px;
}

.search-result-message span {
  margin-bottom: 0px;
  padding: 2px;
  word-wrap: break-word;
}

.search-result-message h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 3px 0px 3px 0px;
  background: #1AB394;
  color: white;
  font-size: 18px;
  text-align: center;

}

.search-result-message .messages{
  border: 1px solid #e7eaec;
  border-radius: 5px;
}

.search-result-message .messages:hover {
  border: 1px solid #555;
  cursor: pointer;
}

/* Videoconferencia */
#video-index #remotes {
  text-align: center;
  margin-top: 10px;
}

#video-index .video-wrapper {
  position: relative;
  display:inline-block;
  margin:auto;
  height: 100%;
  overflow: hidden;
  padding-right: 5px;
}

#video-index .peers-1 .video-wrapper {
  width:55%;
}

#video-index .peers-2 .video-wrapper {
  width:47%;
}

#video-index .peers-3 .video-wrapper,
#video-index .peers-4 .video-wrapper {
  width:30%;
}

/* ajustes para cuando se abre el chat */
#video-index .col-lg-8 .peers-3 .video-wrapper {
  width:45%;
}

#video-index .col-lg-8 .peers-4 .video-wrapper {
  width:45%;
}

/* tercer video */
#video-index .peers-3 .video-wrapper:nth-child(3) {
  display: block;
}

#video-index .peers-4 .video-wrapper:nth-child(3) {
  margin-right: 5px;
}

#video-index .toolbar {
  color: #FFF;
  position: absolute;
  bottom: 25px;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 13;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#video-index .video-overlay .user {
  position: absolute;
  top: 10px;
  left: 0px;
  z-index: 10;
  font-weight: bold;
}

#video-index .video-overlay .user span {
  color: white;
  font: bold 14px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  padding: 7px;
}

#video-index .toolbar .button {
  height: 40px;
  width: 50px;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: 0 0;
  border: none;
  margin: 0;
  font-size: 20px;
  padding: 0 4px;
}
#video-index .toolbar .button:first-child {
  border-radius: 10px 0 0 10px;
}
#video-index .toolbar .button:last-child {
  border-radius: 0 10px 10px 0;
}
#video-index .toolbar .button:hover {
  background-color: rgba(243, 238, 238, 0.3);
}

#video-index .toolbar .button.enabled {
  background-color: rgba(255,0,0,0.3);
}

body[state="dashboard.project.call-index"] #page-wrapper {
  margin-left: 0;
}

/* Videoconferencia - Chat */

#video-index .chat-warning{
  text-align:center;
  padding: 10px;
  background: rgba(212, 217, 220, 0.12);
}

#video-index .chat-discussion {
  height: 500px;
  margin-top: 0;
  padding:5px;
}

#video-index .chat-discussion b {
  color:#0085FF;
}

#video-index .chat-discussion .chat-message:nth-child(2n+1) .message-avatar,
#video-index .chat-discussion .chat-message:nth-child(2n) .message-avatar {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}

#video-index .chat-discussion .chat-message:nth-child(2n+1) .message,
#video-index .chat-discussion .chat-message:nth-child(2n) .message {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
}

/* los mensajes del usuario se ven a la derecha */
#video-index .chat-discussion .chat-message.mine .message-avatar {
  float: right;
  margin-right: 0px;
}

#video-index .chat-discussion .chat-message.mine .message {
  text-align: right;
  margin-right: 10px;
}

#video-index .chat-discussion .chat-message {
    padding-left: 5px;
    padding-right: 5px
}

#video-index textarea {
  width: 100%;
}

.cometFooter{
  bottom: 0;
}

.cometFooter p{
  color:#aeaeae
}
