/* Para Angular Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Para validacion de forms */
.has-error.control-label {
  color: #ed5565;
}

.logo-name a {
  color: #e6e6e6;
}

/* Wrapper del dashboard - color de fondo azul */
#wrapper {
  background-color: #2f4050
}


#formulario.middle-box {
	position: relative;
	margin-top: 0;
}

#formulario.middle-box  h1{
	margin-left: -60px;
}

#userCreate.middle-box  h1{
	margin-left: -100px;
}

.modificarCuenta {
	width:750px;
}

/*#modificarCuentaTabs.nav-tabs {
	width:500px;
}*/
