@media (max-width: 1100px) {
  .proyecto-sm-8 {
      height: 90px;
  }

  .invitarEmails{
    width:590px;
  }

  .crearProyecto-sm-8 label{
      float:none;
  }
}

@media (max-width: 940px) {

  .cometTitle{
    margin-left: 0px;
    width: 25%;
  }
}

@media (max-width: 900px) {
  .miembrosProyecto{
      display:none;
  }

  .proyecto-lg-4 {
     width: 100%
  }

  .proyecto-sm-8 {
      width: 100%;
      height: 40px
  }

.columnaMiembros{
      display:none;
  }

.columnaIntegraciones{
      display:none;
  }

  .cometInput input,
  .cometInput textarea,
  .cometInput div{
    width:400px;
  }

  .invitarEmails {
    width:350px;
  }

  .invitarEmails button {
    width:100px;
  }

  .crearProyecto-sm-8 label {
      float:none;
  }
}

@media (max-width: 800px) {

  .ButtonAdminList .admin-item {
    padding-left:20px;
    position: relative;
  }
}

@media (max-width: 768px) {

  .search-header {
    margin-left: 10px;
  }

  .navbar-form-custom {
    display: inline-table;
    width: 70px;
  }

  .cometTitle {
  margin-left: 5%;
  width: 35%;
  margin-top: 15px;
  }

  .cometTitle h1 {
  font-size: 25px;
  }

  .cometTitle img {
  height: 25px;
  }

  .dash-top-fixed .navbar-right {
    float: right;
  }

  .chat-users-wrapper {
    width: 50%;
    text-align: center;
    z-index: 110;
  }

  .chat-users-wrapper img{
    display: none;
  }

  .chat-integrations-wrapper{
    width: 50%;
    text-align: center;
    z-index: 110;
  }

  .chat-integrations-wrapper img {
    display: none;
  }

  #page-top .separador {
    display: none;
  }

  .btnPerfil {
    display: inline-block!important;
  }
}

@media (max-width: 700px) {

  .modificarProyecto .nav.nav-tabs li {
    width: 100%;
  }

}

@media (max-width: 600px) {

  .channel-explore-header .col-lg-10 {
    width: 70%;
  }

  .channel-explore-header .col-lg-2 {
    width: 30%;
  }

  .channel-explore-header h2 {
    font-size: 18px;
  }

  .project-explore-header h2 {
    font-size: 18px;
  }

  .search-title {
    font-size: 18px;
  }

  .search-count {
    font-size: 14px;
  }

  .project-admin-header h2 {
    font-size: 18px;
  }

  .user-profile-header h2 {
    font-size: 18px;
  }

  .user-profile-header .botonVolver {
    font-size: 14px;
    margin-right: 0;
  }

  .modificarCuenta .nav.nav-tabs li {
    width: 100%;
  }

  .cometTitle {
  margin-left: 3%;
  width: 30%;
  margin-top: 20px;
  }

  .cometTitle h1 {
  font-size: 20px;
  }

  .cometTitle img {
  height: 20px;
  }
}


@media (max-width: 500px) {
  .rolProyecto {
    display:none;
  }

	.columnaFecha {
    display:none;
	}

  .cometInput input,
  .cometInput textarea,
  .cometInput div {
  	width:320px;
  }

  .modificarCuenta .form-group {
    width: 320px;
  }

  .modificarCuenta p {
    width: 320px;
  }

  .invitarEmails {
    width:300px;
  }

  .invitarEmails button {
    width:100px;
  }

  .ButtonAdminList {
    padding-top: 75px;
  }

  .modificarProyecto .datos .cometInput input,
  .modificarProyecto .datos .cometInput textarea {
    width: 270px;
  }
}

@media (max-width: 400px) {
  .cometTitle {
  margin-left: 2%;
  width: 28%;
  margin-top: 20px;
  }

}

@media (max-width: 315px) {
	.breadcrumb2 .form-control {
		width: 40%;
	}

  .cometInput input, .cometInput textarea, .cometInput div {
  	width:160px;
  }

  .invitarEmails {
    width:160px;
  }

  .invitarEmails button {
    width:20px;
  }

  .chat-users-wrapper {
    display: none;
  }
}
