@media (max-width: 1100px) {
  .proyecto-sm-8 {
      height: 90px;
  }

  .invitarEmails{
    width:590px;
  }

  .crearProyecto-sm-8 label{
      float:none;
  }
}

@media (max-width: 940px) {

  .cometTitle{
    margin-left: 0px;
    width: 25%;
  }
}

@media (max-width: 900px) {
  .miembrosProyecto{
      display:none;
  }

  .proyecto-lg-4 {
     width: 100%
  }

  .proyecto-sm-8 {
      width: 100%;
      height: 40px
  }

.columnaMiembros{
      display:none;
  }

.columnaIntegraciones{
      display:none;
  }

  .cometInput input, .cometInput textarea, .cometInput div{
    width:400px;
  }

  .invitarEmails{
    width:350px;
  }

  .invitarEmails button{
    width:100px;
  }

  .crearProyecto-sm-8 label{
      float:none;
  }

  .chat-users-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {

  .search-header{
    margin-left: 10px;
  }

  .navbar-form-custom{
    display: inline-table;
    width: 100px;
  }

  .cometTitle{
  margin-left: 5%;
  width: 25%;
  margin-top: 15px;
  }

  .cometTitle h1{
  font-size: 25px;
  }

  .cometTitle img{
  height: 25px;
  }

  .navbar-right{
    float: right;
  }
}

@media (max-width: 500px) {
  .rolProyecto {
    display:none;
  }

	.columnaFecha{
    display:none;
	}

  .cometInput input, .cometInput textarea, .cometInput div{
  	width:350px;
  }

  .invitarEmails{
    width:300px;
  }

  .invitarEmails button{
    width:100px;
  }

  .chat-users-wrapper {
    display: none;
  }
}

@media (max-width: 315px) {
	.breadcrumb2 .form-control {
		width: 40%;
	}

  .cometInput input, .cometInput textarea, .cometInput div{
  	width:160px;
  }

  .invitarEmails{
    width:160px;
  }

  .invitarEmails button{
    width:20px;
  }

  .chat-users-wrapper {
    display: none;
  }
}
