<div id="video-index" class="wrapper wrapper-content" data-view="video-index" style="padding-top:5px!important">
  <div class="row">
    <div class="col-lg-12">
    <!-- Maximizado -->
      <div class="row">
          <div class="col-lg-11" style="float:left;">
              <h2><i class="fa fa-video-camera"></i> Videoconferencia</h2>
          </div>
          <div class="col-lg-1 ButtonAdminList">
              <a ng-click="vm.showChat = !vm.showChat">
                  <i class="fa fa-comments"></i>
              </a>
              Peers: {{vm.getPeers().length}}
          </div>
      </div>
      <div class="row">
        <!-- layouts -->
        <div ng-class="vm.showChat ? 'col-lg-8' : 'col-lg-12'">
          <!-- 1 o 2 -->
          <div ng-if="vm.peers.length < 3" class="text-center">
            <div style="width:47%; margin-right:1%; display:inline-block" ng-repeat="peer in vm.peers" id="{{::peer.domId}}" ng-mouseover="vm.mouseIn(peer)" ng-mouseleave="vm.mouseOut(peer)">
              <!-- <video ng-if="peer.isLocal" id="localVideo"/> -->
              <!-- <video ng-if="!peer.isLocal" id="{{::peer.id}}" ng-src="{{::peer.source}}"/> -->
              <video id="{{::peer.id}}" ng-src="{{::peer.source}}"/>
            </div>
          </div>
          <!-- 3 o 4 -->
          <div class="text-center">
            <div class="row">
              <div ng-repeat="peer in vm.peers.slice(0,2)"
                   class="video-wrapper peers-{{vm.peers.length}}-row1"
                   id="{{::peer.domId}}">
                <video id="{{::peer.id}}" ng-src="{{::peer.source}}"/>
              </div>
            </div>
            <div class="row">
              <div ng-init="peer3 = vm.peers[2]"

                   class="video-wrapper"
                   ng-class="vm.peers.length == 3 ? 'peers-3-row2' : 'peers-4-row2'"
                   id="{{::peer3.domId}}">
                <video id="{{::peer3.id}}" ng-src="{{::peer3.source}}"/>
              </div>
              <div ng-init="peer4 = vm.peers[3]"
                   
                   class="video-wrapper peers-4-row2"
                   id="{{::peer4.domId}}">
                <video id="{{::peer4.id}}" ng-src="{{::peer4.source}}"/>
              </div>
            </div>
          </div>
        </div>

        <!-- Chat  -->
        <div class="col-lg-4" ng-show="vm.showChat">
          <div class="chat-discussion">
            <!-- messages -->
            <div class="chat-message left"
                 ng-repeat="message in vm.messages">
              <div class="message">
                <b>{{::message.author}}</b>
                <span class="message-date">
                  {{::vm.formatMessageDate(message.date) }}
                </span>
                <span class="message-content">
                  {{::message.content}}
                </span>
              </div>
            </div>
          </div>
          <textarea id="message-input"
                    name="message"
                    ng-enter="vm.sendMessage(vm.message)"
                    ng-model="vm.message"
                    maxlength="200"
                    class="form-control col-lg-10"
                    style="resize: none;"
                    placeholder="Ingrese el mensaje"
                    autofocus>
          </textarea>
        </div>
      </div>
  </div>
</div>
