<div class="video-overlay">
  <p class="user">
    <span>{{::peer.name}}</span>
  </p>
  <div class="toolbar" ng-show="peer.mouseIn">
    <div ng-click="mute()"
         class="button fa"
         ng-class="{ 'fa-microphone' : peer.isLocal,
                     'fa-volume-off': !peer.isLocal,
                     'fa-microphone-slash' : peer.isLocal && peer.muted,
                     'enabled' : peer.muted }">
    </div>
    <div ng-click="disableVideo()"
         class="button fa fa-video-camera"
         ng-class="{ 'enabled' : peer.noVideo }">
    </div>
  </div>
</div>
