<div id="video-index" class="wrapper wrapper-content" data-view="video-index" style="padding-top:5px!important">
  <div class="row">
    <div class="col-lg-12">
    <!-- Maximizado -->
      <div class="row">
          <div class="col-lg-10" style="float:left;">
              <h2 style="margin-top:10px;font-size:18px;"><i class="fa fa-video-camera"></i> Videoconferencia</h2>
          </div>
          <div class="col-lg-2" style="margin-top:10px; text-align:right;" ng-hide="vm.roomIsFull">
              <a style="font-size:16px" ng-click="vm.changeChatState()">
                  <span ng-if="!vm.showChat">
                    Abrir Chat&nbsp;&nbsp;
                    <i class="fa fa-comments"></i>
                    <span ng-if="vm.hasNewMessage" class="label label-warning hasNewChat">!</span>
                  </span>
                  <span ng-if="vm.showChat">
                    Cerrar&nbsp;&nbsp;
                    <i class="fa fa-comments"></i>
                  </span>
              </a>
          </div>
      </div>
      <div class="row">

        <!--Mensajes al usuario-->
        <div class="jumbotron" ng-show="vm.roomIsFull">
          <p class="text-center">Lo lamentamos. Esta sala se encuentra llena. <i class="fa fa-frown-o"></i></p>
          <p class="text-center">Pueden participar un máximo de 4 personas. </p>
        </div>

        <div class="jumbotron" ng-show="!vm.isMember">
          <p class="text-center">Lo lamentamos. Esta sala es privada.</p>
        </div>

        <div class="jumbotron" ng-show="vm.videoError">
          <p class="text-center">Lo lamentamos. Ocurrió un error al inicializar la comunicación.</p>
          <p class="text-center">Esto puede deberse a que tu navegador o sistema operativo no está soportado.</p>
          <p class="text-center">Los navegadores soportados son Google Chrome y Mozilla Firefox</p>
        </div>

        <!-- layouts -->
        <div ng-class="vm.showChat ? 'col-lg-8 col-md-8' : 'col-lg-12 col-md-12'">
          <div id="remotes" ng-show="!vm.roomIsFull && vm.isMember">
          </div>
        </div>

        <!-- Chat -->
        <div class="col-lg-4 col-md-4" ng-show="vm.showChat">
          <div class="chat-discussion">
            <div class="text-warning chat-warning">
              Los mensajes de esta conversación son volátiles, <br/> no serán guardados en el canal.
            </div>
            <!-- messages -->
            <div class="chat-message"
                 ng-class="vm.getMessageClass(message)"
                 ng-repeat="message in vm.messages">
              <div class="message">
                <b ng-if="!message.isCometMessage">{{::message.author}}</b>
                <span class="message-date">
                  {{::vm.formatMessageDate(message.date) }}
                </span>
                <span class="message-content" ng-class="{'server': message.isCometMessage}">
                  {{::message.content}}
                </span>
              </div>
            </div>
          </div>
          <textarea id="message-input"
                    name="message"
                    ng-enter="vm.sendMessage(vm.message)"
                    ng-model="vm.message"
                    maxlength="200"
                    class="form-control col-lg-10"
                    style="resize: none;"
                    placeholder="Ingrese el mensaje"
                    autofocus>
          </textarea>
        </div>
      </div>
  </div>
</div>
