<div id="video-index" class="wrapper wrapper-content" data-view="video-index" style="padding-top:5px!important">
  <div class="row">
    <div class="col-lg-12">
    <!-- Maximizado -->
      <div class="row">
          <div class="col-lg-11" style="float:left;">
              <h2><i class="fa fa-video-camera"></i> Videoconferencia</h2>
          </div>
          <div class="col-lg-1 ButtonAdminList">
              <a ng-click="vm.showChat = !vm.showChat">
                  <i class="fa fa-comments"></i>
              </a>
          </div>
      </div>
      <div class="row">
        <div ng-class="vm.showChat ? 'col-lg-5' : 'col-lg-8'">
          <div class="ibox">
              <div class="ibox-content video">
                <div class="video-overlay">
                  <p class="user">{{::vm.centerPeer.name}}</p>
                  <div class="buttons" ng-show="vm.centerPeer.mouseIn">
                    <div ng-click="vm.mute(vm.centerPeer)"
                         class="button fa fa-volume-off"
                         ng-class="{ 'enabled' : vm.centerPeer.muted }">
                    </div>
                    <div ng-click="vm.disableVideo(vm.centerPeer)"
                         class="button fa fa-video-camera"
                         ng-class="{ 'enabled' : vm.centerPeer.videoDisabled }">
                    </div>
                    <div class="button fa fa-expand"></div>
                  </div>
                </div>
                <video id="localVideo" />
              </div>
          </div>
        </div>
        <div ng-class="vm.showChat ? 'col-lg-3' : 'col-lg-4'">
          <!-- Resto de participantes -->
          <div class="row" ng-repeat="peer in vm.getPeers()" id="{{peer.domId}}" ng-mouseover="vm.mouseIn(peer)" ng-mouseleave="vm.mouseOut(peer)">
            <div>
              <div class="ibox">
                  <div class="ibox-content video">
                    <div class="video-overlay">
                      <p class="user">{{::peer.name}}</p>
                      <div class="buttons" ng-show="peer.mouseIn">
                        <div ng-click="vm.mute(peer)"
                             class="button fa fa-volume-off"
                             ng-class="{ 'enabled' : peer.muted }">
                        </div>
                        <div ng-click="vm.disableVideo(peer)"
                             class="button fa fa-video-camera"
                             ng-class="{ 'enabled' : peer.videoDisabled }">
                        </div>
                        <div ng-click="vm.maximize(peer)"
                             class="button fa fa-expand">
                        </div>
                      </div>
                    </div>
                    <video id="{{::peer.id}}" ng-src="{{::peer.source}}"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Chat  -->
        <div class="col-lg-4" ng-show="vm.showChat">
          <div class="chat-discussion">
            <!-- messages -->
            <div class="chat-message left"
                 ng-repeat="message in vm.messages">
              <div class="message">
                <b>{{::message.author}}</b>
                <span class="message-date">
                  {{::vm.formatMessageDate(message.date) }}
                </span>
                <span class="message-content">
                  {{::message.content}}
                </span>
              </div>
            </div>
          </div>
          <textarea id="message-input"
                    name="message"
                    ng-enter="vm.sendMessage(vm.message)"
                    ng-model="vm.message"
                    maxlength="200"
                    class="form-control col-lg-10"
                    style="resize: none;"
                    placeholder="Ingrese el mensaje"
                    autofocus>
          </textarea>
        </div>
      </div>
  </div>
</div>
