<div class="modal-header">
    <h3 class="modal-title">Minuta de reunión</h3>
</div>
<div class="modal-body text-center">
  <!-- Explicacion -->
  <div class="row">
    <div class="col">
      <p class="text-center">
        Aquí puedes ir ingresando un resumen de lo que te se discute en la videollamada (opcional).
      </p>
    </div>
  </div>
  <!-- Texto -->
  <div class="row">
    <form name="vm.frmSummary" class="form-horizontal m-t" role="form" novalidate="">
      <div>
        <textarea ng-model="vm.summary"
                  style="width:95%; height: 350px;"
                  maxlength="2000"></textarea>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-primary" type="button" ng-click="vm.saveSummary()">Guardar</button>
</div>
