<form name="vm.frmCreate" class="form-horizontal m-t form-bordered" role="form" novalidate="">
  <hr style="border-color:#A4A4A4"></hr>
  <div class="form-group">
    <label class="col-sm-2 control-label">Autenticación</label>
    <div class="col-sm-10">
      <div ng-hide="vm.trelloLogged">
        <button class="btn btn-w-m btn-primary" ng-click="vm.trelloAuth()" >Iniciar Sesión en Trello</button>
      </div>
      <div ng-show="vm.trelloLogged">
        <p class="label label-info" style="font-size: 12px;"> Ya estás autenticado! </p>
      </div>
    </div>
  </div>
  <hr style="border-color:#A4A4A4"></hr>
  <div>
    <!-- Tablero -->
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Tablero </br>
        <span class="text-muted label-detail">Elegí el el tablero cuya actividad deseas registrar en Comet</span>
      </label>
      <div class="col-sm-8">
        <select ng-options="board as board.name for board in vm.boards track by board.id" ng-model="vm.selectedBoard">
        </select>
      </div>
    </div>
    <!-- Canal -->
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Canal </br>
        <span class="text-muted label-detail">Elegí el canal en el que apareceran las notificaciones</span>
      </label>
      <div class="col-sm-8">
        <select ng-options="channel as channel.name group by channel.typeDescription for channel in vm.channels track by channel.id"
                ng-model="vm.selectedChannel">
        </select>
      </div>
    </div>
    <!-- Nombre -->
    <div class="form-group">
      <label class="col-sm-4 control-label">
        Nombre </br>
        <span class="text-muted label-detail">Elegí el nombre con el que la integración va a agregar mensajes</span>
      </label>
      <div class="col-sm-8">
        <input type="text" name="name" ng-model="vm.name" class="form-control" placeholder="Nombre de usuario">
        <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'name')" class="control-label" role="alert">
          <div>{{ vm.validationErrors['name'] }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group m-t">
    <div class="col-sm-8 col-sm-offset-3 m-t">
      <button class="btn btn-w-m btn-primary" ng-click="vm.postTrello()">Guardar</button>
      <a class="btn btn-link" ui-sref="dashboard.project.project-admin({projectId:vm.project.id, tab:3})" >Cancelar</a>
    </div>
  </div>
</form>
