<div data-view="integration-create">
  <div class="row wrapper border-bottom white-bg page-heading">
	  <div class="col-lg-9">
		    <h2>Configurar integración</h2>
        <div ncy-breadcrumb></div>
	  </div>
  </div>
  <div class="row m-l">
    <div class="col-sm-8">
      <!-- Comun para todas las integraciones -->
      <div>
         </br>
         <h1><i style="font-size:48px;" class="fa fa-{{vm.name.toLowerCase().replace('pingdom', 'pinterest') }}"/> {{vm.integrationName}} </h1>
         <p>{{vm.description}}</p>
      </div>
      <!-- GitHub -->
      <ng-include ng-if="vm.integrationId == 1" src=" 'src/integrations/integration-create-github.html' "></ng-include>
      <!-- Trello -->
      <ng-include ng-if="vm.integrationId == 2" src=" 'src/integrations/integration-create-trello.html' "></ng-include>
      <!-- Pingdom -->
      <ng-include ng-if="vm.integrationId == 3" src=" 'src/integrations/integration-create-pingdom.html' "></ng-include>
    </div>
  </div>
</div>
