<span class="message-content clearfix" ng-if="message.type === 7">
  <div class="message-trello-wrapper clearfix"
       ng-init="trello = message.trello"
       ng-switch on="trello.type">
    <!-- UpdateCard -->
    <div ng-switch-when="updateCard">
      <p class="board">
        Tablero: <a href="http://trello.com/b/{{trello.data.board.id}}" target="_blank">{{::trello.board}}</a>
      </p>
      <p>
          <span class="user">{{trello.user}}</span> actualizó la tarjeta
          <a href="http://trello.com/c/{{trello.data.card.id}}" target="_blank">{{::trello.data.card.name}}</a>
          <span class="card" ng-if="!trello.card.name">{{::trello.card}}</span>
      </p>
    </div>
    <!-- createCard -->
    <div ng-switch-when="createCard">
      <p class="board">
        Tablero: <a href="http://trello.com/b/{{trello.data.board.id}}" target="_blank">{{::trello.board}}</a>
      </p>
      <p>
          <span class="user">{{trello.user}}</span> creó la tarjeta
          <a href="http://trello.com/c/{{trello.data.card.id}}" target="_blank">{{::trello.data.card.name}}</a>
          <span class="card" ng-if="!trello.card.name">{{::trello.card}}</span>
      </p>
    </div>
    <!-- commentCard -->
    <div ng-switch-when="commentCard">
      <p class="board">
        Tablero: <a href="http://trello.com/b/{{trello.data.board.id}}" target="_blank">{{::trello.board}}</a>
      </p>
      <p>
          <span class="user">{{trello.user}}</span> comentó en la tarjeta
          <span class="card">{{::trello.card}}</span>
          <p class="comment">
            {{::trello.text}}
          </p>
      </p>
    </div>
    <!-- addMemberToCard -->
    <div ng-switch-when="addMemberToCard">
      <p class="board">
        Tablero: <a href="http://trello.com/b/{{trello.data.board.id}}" target="_blank">{{::trello.board}}</a>
      </p>
      <p>
          <span class="user">{{trello.user}}</span> agregó un nuevo miembro en la tarjeta
          <span class="card">{{::trello.card}}</span>
      </p>
    </div>
  </div>
</span>
