<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2><strong>{{vm.channel.name}}</strong></h2>
    <button ng-click="vm.invite()" ng-disabled="!vm.canInvite()" type="button" class="btn btn-primary" style="float:right">Invitar participantes</button>
    <ul>
      <li ng-repeat="member in vm.channel.members | limitTo: 6">
        <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" width="40" height="40" />
      </li>
      <li ng-show="vm.channel.members.length > 6">
        <p>+{{vm.channel.members.length - 6 }}</p>
      </li>
    </ul>
    <h4 class="ProjDesc">{{vm.channel.description}}</h4>
    <ol class="breadcrumb2">
      <li>
        <div ncy-breadcrumb></div>
      </li>
    </ol>
  </div>
</div>
