<div class="wrapper wrapper-content animated fadeInRight" data-view="channel-list">
  <div class="row">
    <!-- No tiene canales -->
    <div ng-show="vmc.isEmpty" class="jumbotron text-center">
        <p>No encontramos canales en este proyecto <i class="fa fa-frown-o"></i></p>
        <p>
          <a ng-disabled="vm.isClosed" ng-click="vmc.gotoCreateChannel()" name="btnCrearCanal" class="btn btn-xl btn-primary">Crear Canal</a><br>
          <a style="font-size:13px" ui-sref="dashboard.project.channel-closed-list">Ver canales cerrados</a>
        </p>
    </div>
    <!-- listado de canales -->
    <div ng-hide="vmc.isEmpty">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Canales públicos</h5>
          </div>
          <div class="ibox-content">
            <div class="row wrapper border-bottom white-bg page-heading">
              <div class="col-lg-9">
                <ol class="breadcrumb2">
                  <li>
                    <input ng-model="vmc.filterQuery" type="text" placeholder="Filtrar canales públicos por nombre / descripción / miembros" class="form-control" name="top-search"/>
                  </li>
                  <li class="buttonRight">
                    <button ui-sref="dashboard.project.channel-create" type="button" ng-disabled="vm.isClosed" name="btnCrearCanal" class="btn btn-primary" style="float:right">Crear Canal</button>
                    <a style="float: right; margin-top: 15px; margin-right: 20px;" ui-sref="dashboard.project.channel-closed-list">Ver canales cerrados</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="columnaCanal">
                      <a class="colHeaderOrder" ng-click="vmc.sortType = 'name'; vmc.sortReverse = !vmc.sortReverse">
                        Canal
                        <span ng-show="vmc.sortType == 'name'" class="fa" ng-class="{'fa-caret-down': vmc.sortReverse, 'fa-caret-up': !vmc.sortReverse}"></span>
                      </a>
                    </th>
                    <th class="columnaDescripcion">
                      <a class="colHeaderOrder" ng-click="vmc.sortType = 'description'; vmc.sortReverse = !vmc.sortReverse">
                        Descripción                      
                        <span ng-show="vmc.sortType == 'description'" class="fa" ng-class="{'fa-caret-down': vmc.sortReverse, 'fa-caret-up': !vmc.sortReverse}"></span>
                      </a>
                    </th>
                    <th class="columnaMiembros">Miembros</th>
                    <th class="columnaIntegraciones">Integraciones</th>
                    <th class="colHeaderOrder" class="columnaFecha">
                      <a class="colHeaderOrder" ng-click="vmc.sortType = 'createdAt'; vmc.sortReverse = !vmc.sortReverse">
                        Fecha Creación
                        <span ng-show="vmc.sortType == 'createdAt'" class="fa" ng-class="{'fa-caret-down': vmc.sortReverse, 'fa-caret-up': !vmc.sortReverse}"></span>
                      </a>
                    </th>
            <!--    <th class="columnaFecha">Ultimo Mensaje</th>  -->
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;"
                      dir-paginate="channel in vmc.channels | orderBy:vmc.sortType:vmc.sortReverse | filter: vmc.filterQuery | itemsPerPage: 5"
                      ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:channel.id, isDirect:false})">
                      <td class="columnaCanal" title="{{channel.name}}">
                        <b>{{channel.name}}</b>
                      </td>
                      <td class="columnaDescripcion">
                        {{channel.description}}
                      </td>
                      <td class="columnaMiembros">
                        <ul>
                          <li ng-repeat="member in channel.members | limitTo: 6">
                            <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" />
                          </li>
                          <li ng-show="channel.members.length > 6">
                            <p>+{{channel.members.length - 6 }}</p>
                          </li>
                        </ul>
                      </td>
                      <td class="columnaIntegraciones">
                        <ul>
                          <li ng-repeat="integration in channel.integrations">
                            <img alt="image"
                                 class="chat-avatar"
                                 title="{{integration.name}}"
                                 ng-src="{{::helpers.getIntegrationImage(integration.integrationId)}}"/>
                          </li>
                        </ul>
                      </td>
                      <td class="columnaFecha">{{channel.createdAt | date}}</td>
                  </tr>
                </tbody>
              </table>
              <dir-pagination-controls/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
