<div class="wrapper wrapper-content animated fadeInRight" data-view="channel-list">
  <div class="row">
    <!-- No tiene canales -->
    <div ng-show="vmc.isEmpty" class="jumbotron text-center">
        <p>No encontramos canales en este proyecto <i class="fa fa-frown-o"></i></p>
        <p>
          <a ng-disabled="vm.isClosed" ng-click="vmc.gotoCreateChannel()" name="btnCrearCanal" class="btn btn-xl btn-primary">Crear Canal</a><br>
          <a style="font-size:13px" ui-sref="dashboard.project.channel-closed-list">Ver canales cerrados</a>
        </p>
    </div>
    <!-- listado de canales -->
    <div ng-hide="vmc.isEmpty">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Canales públicos</h5>
          </div>
          <div class="ibox-content">
            <div class="row wrapper border-bottom white-bg page-heading">
              <div class="col-lg-9">
                <ol class="breadcrumb2">
                  <li>
                    <input ng-model="vmc.filterQuery" type="text" placeholder="Filtrar..." class="form-control" name="top-search"/>
                  </li>
                  <li class="buttonRight">
                    <button ui-sref="dashboard.project.channel-create" type="button" ng-disabled="vm.isClosed" name="btnCrearCanal" class="btn btn-primary" style="float:right">Crear Canal</button>
                    <a style="float: right; margin-top: 15px; margin-right: 20px;" ui-sref="dashboard.project.channel-closed-list">Ver canales cerrados</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="columnaCanal">Canal</th>
                    <th class="columnaDescripcion">Descripcion</th>
                    <th class="columnaMiembros">Miembros</th>
                    <th class="columnaIntegraciones">Integraciones</th>
                    <th class="columnaFecha">Fecha Creacion</th>
            <!--    <th class="columnaFecha">Ultimo Mensaje</th>  -->
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;"
                      dir-paginate="channel in vmc.channels | itemsPerPage: 5 | filter: vmc.filterQuery | orderBy:['-state', '-createdAt']"
                      ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:channel.id, isDirect:false})">
                      <td class="columnaCanal">
                        <b>{{channel.name}}</b>
                      </td>
                      <td class="columnaDescripcion">
                        {{channel.description}}
                      </td>
                      <td class="columnaMiembros">
                        <ul>
                          <li ng-repeat="member in channel.members | limitTo: 6">
                            <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" />
                          </li>
                          <li ng-show="channel.members.length > 6">
                            <p>+{{channel.members.length - 6 }}</p>
                          </li>
                        </ul>
                      </td>
                      <td class="columnaIntegraciones">
                        <ul>
                        <!--
                          <li>
                            <img alt="image" class="img-circle" src="../../images/integraciones/googledrive.jpg" />
                          </li>
                          <li>
                            <img alt="image" class="img-circle" src="../../images/integraciones/dropbox.png" />
                          </li>
                        -->
                          <li>
                            <!-- img alt="image" class="img-circle" src="../../images/integraciones/github.png" -->
                          </li>
                        </ul>
                      </td>
                      <td class="columnaFecha">{{channel.createdAt | date}}</td>
                  <!--    <td class="columnaFecha">{{channel.createdAt | date}}</td>  -->
                  </tr>
                </tbody>
              </table>
              <dir-pagination-controls/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
