<li class="dropdown">
  <a ng-class="vm.isMember ? 'dropdown-toggle' : 'disabled'" data-toggle="{{vm.isMember ? 'dropdown' : ''}}" ng-click="vmc.showChannelMembers()">
    <i class="fa fa-group"></i>
  </a>
</li>
<li class="dropdown">
  <a ng-class="vm.isMember && !vm.isClosed ? 'dropdown-toggle' : 'disabled'" data-toggle="{{vm.isMember ? 'dropdown' : ''}}">
    <i class="fa fa-cog"></i>
  </a>
  <ul class="dropdown-menu dropdown-user">
    <li>
      <a ng-click="vmc.exit()">Salir del Canal</a>
    </li>
    <li>
      <a ng-click="vmc.closeChannel()">Cerrar Canal</a>
    </li>
    <li>
      <a ng-click="vmc.deleteChannel()">Eliminar Canal</a>
    </li>
  </ul>
</li>
