<span class="message-content clearfix" ng-if="message.type === 9" ng-init="finishedCall = vm.callIsFinished(message.date)">
  <div class="message-video-wrapper clearfix">
    <span class="message-content">
      <div class="text-center">
        <p style="font-style: italic;">
          Ha iniciado una videoconferencia.
        </p>
        <p ng-if="!finishedCall">
          <a href="{{message.text}}" target="_blank">
            <button type="button" ng-disabled="finishedCall" class="btn btn-info btn-lg">
              <i class="fa fa-video-camera" style="margin-right:10px;"></i>
              Entrar
            </button>
          </a>
        </p>
        <p ng-if="finishedCall">
          <button type="button" ng-disabled="finishedCall" class="btn btn-default btn-lg">
            <i class="fa fa-video-camera" style="margin-right:10px;"></i>
            Finalizada
          </button>
        </p>
        <p style="font-style:italic;">
          La videoconferencia tiene una duración de 6 horas y será inaccesible luego de que finalice.
        </p>
      </div>
    </span>
  </div>
</span>
