<div data-view="project-create">
  <div class="row wrapper border-bottom white-bg page-heading">
	  <div class="col-lg-9">
		    <h2>Crear Canal</h2>
        <div ncy-breadcrumb></div>
	  </div>
  </div>
  <div class="col-sm-8 crearProyecto-sm-8">
    <form name="vm.frmCreate" ng-submit="vm.create()" class="form-horizontal m-t" role="form" novalidate="">
      <!-- Nombre -->
      <div class="form-group cometInput" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'name') }">
        <label class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" name="name" ng-model="vm.channel.name" class="form-control" placeholder="Nombre del canal">
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'name')" class="control-label" role="alert">
            <div>{{ vm.validationErrors['name'] }}</div>
          </div>
        </div>
      </div>
      <!-- Descripcion -->
      <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'description') }">
        <label class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-10">
          <textarea cols="25" rows="2" ng-model="vm.channel.description" class="form-control" placeholder="Breve descripcion del propósito del canal"></textarea>
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'description')" class="control-label" role="alert">
            <div>{{ vm.validationErrors['description'] }}</div>
            <div>{{ vm.validationErrors['all'] }}</div>
          </div>
        </div>
      </div>
      <!-- Es Privado -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Es privado</label>
        <div class="col-sm-10">
          <input type="checkbox" ng-model="vm.channel.isPrivate" class="form-control">
        </div>
      </div>
      <!-- Etiquetas -->
      <div class="form-group">
        <label class="col-sm-2 control-label">Etiquetas</label>
        <div class="col-sm-10">

        </div>
      </div>
      <!-- Invitar -->
      <div class="crearProyectoSubmit">
        <h4>Participantes a invitar</h4>
        <!-- <div ng-repeat="invite in vm.invites" class="m-b" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'address_' + ($index + 1))}">
            <div class="input-group">
                <input type="text" name="email" ng-model="invite.address" class="form-control" placeholder="Dirección de correo"/>
                <span class="input-group-btn">
                  <button ng-click="vm.removeInvite(invite)" type="button" class="btn btn-danger">Borrar</button>
                </span>
            </div>
            <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'address_' + ($index + 1))" class="control-label" role="alert">
              <div>{{ vm.validationErrors['address_' + ($index + 1)] }}</div>
            </div>
        </div> -->
      </div>
      <!-- Submit -->
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2 crearProyectoSubmit">
          <button class="btn btn-w-m btn-primary" type="submit">Crear canal</button>
          <a class="btn btn-link" ui-sref="dashboard.project-explore({id:vm.project.id})">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
