<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2><strong>{{vm.project.name}}</strong></h2>
    <h4 class="ProjDesc">{{vm.project.description}}</h4>
    <ol class="breadcrumb2">
      <li>
        <div ncy-breadcrumb></div>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <!-- No tiene canales -->
    <div ng-show="vm.isEmpty" class="jumbotron text-center">
        <p>No existen canales cerrados en este proyecto</i></p>
        <p>
          <a ui-sref="dashboard.project.project-explore({id:vm.project.id})" class="btn btn-xl btn-primary">Volver</a>
        </p>
    </div>
    <!-- listado de canales -->
    <div ng-hide="vm.isEmpty">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Canales cerrados</h5>
          </div>
          <div class="ibox-content">
            <div class="row wrapper border-bottom white-bg page-heading">
              <div class="col-lg-9">
                <ol class="breadcrumb2">
                  <li>
                    <input ng-model="vm.filterQuery" type="text" placeholder="Filtrar..." class="form-control" name="top-search"/>
                  </li>
                  <li class="buttonRight">
                    <a ui-sref="dashboard.project.project-explore({id:vm.project.id})" class="btn btn-xl btn-primary">Volver</a>
                  </li>
                </ol>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="columnaCanal">Canal</th>
                    <th class="columnaDescripcion">Descripcion</th>
                    <th class="columnaMiembros">Miembros</th>
                    <th class="columnaIntegraciones">Integraciones</th>
                    <th class="columnaFecha">Fecha Creacion</th>
                    <th class="columnaFecha">Fecha Cierre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer;"
                      dir-paginate="channel in vm.channels | itemsPerPage: 5 | filter: vm.filterQuery | orderBy:['-state', '-createdAt']"
                      ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:channel.id, isDirect:false})">
                      <td class="columnaCanal">
                        <b>{{channel.name}}</b>
                      </td>
                      <td class="columnaDescripcion">
                        {{channel.description}}
                      </td>
                      <td class="columnaMiembros">
                        <ul>
                          <li ng-repeat="member in channel.members | limitTo: 6">
                            <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" />
                          </li>
                          <li ng-show="channel.members.length > 6">
                            <p>+{{channel.members.length - 6 }}</p>
                          </li>
                        </ul>
                      </td>
                      <td class="columnaIntegraciones">
                        <ul>
                        </ul>
                      </td>
                      <td class="columnaFecha">{{channel.createdAt | date}}</td>
                      <td class="columnaFecha">{{channel.closedAt | date}}</td>
                  </tr>
                </tbody>
              </table>
              <dir-pagination-controls/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
