<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2><strong>{{vm.project.name}}</strong></h2>
    <button ng-show="vm.project.isOwner" ng-disabled="vm.isClosed" ng-click="vm.gotoEditProject()" type="button" name="btnAdmProyecto" class="btn btn-primary" style="float:right; margin-right:30px">Administrar</button>


  <!-- Lista de Usuarios flotante -->
      <div class="MenuFlotante">
      <div class="cometProjectUsersIcon">
          <i class="fa fa-user"></i>
      </div>
      <div class="skin-setttings">
        <div class="cometProjectUsers">
          <div class="title">Miembros</div>
          <li ng-repeat="member in vm.project.members">
            <div class="chat-user">
              <img alt="image" class="chat-avatar" title="{{member.alias}}" ng-src="{{member.profilePicture}}"/>
              <div class="chat-user-name">
                {{member.firstName}} {{member.lastName}}
              </div>
            </div>
          </li>
        </div>
      </div>
    </div>


    <h4 class="ProjDesc">{{vm.project.description}}</h4>
    <ol class="breadcrumb2">
      <li>
        <div ncy-breadcrumb></div>
      </li>
    </ol>
  </div>
</div>
<div ui-view="channels">

</div>
