<div class="theme-config" ng-if="vm.project !== null">
    <div class="theme-config-box"
				 ng-class="{ 'show': vm.membersVisible}">
        <div class="spin-icon" ng-click="vm.showMembers()">
						<i class="fa fa-user" ng-class="{ 'fa-spin': vm.privateNotifications }"></i>
        </div>
        <div class="skin-setttings">
					<div class="cometProjectUsers">
						<div class="title">Miembros</div>
						<ul nav-menu-active="selected-channel" notification-class="has-notification">
							<li ng-repeat="member in vm.availableMembers | orderBy:['-isOnline','-alias']"  ng-class="{ 'selected-channel':member.isActive}">
								<div class="chat-user">
									<a data-type="D"
										 data-id="{{member.id}}"
										 ui-sref="dashboard.project.channel-explore({projectId: vm.project.id, channelId:member.id, isDirect:true, loadById:undefined, direction:undefined, messageId:undefined, limit:undefined, destUserId:undefined})"
										 style="display:block;"
										>
										<div class="chat-user-name">
											<i class="user-state fa fa-circle"
												 ng-class="{ 'online': member.isOnline }"></i>
											<span ng-class="{ 'has-notification': member.hasNotification }">{{member.alias}}</span>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
		</div>
</div>