
<div class="row wrapper border-bottom white-bg page-heading" data-view="project-create">
  <div class="col-lg-9">
      <h2>Crear Proyecto</h2>
      <div ncy-breadcrumb></div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 crearProyecto-sm-8">
    <div>
       </br>
       <p>@MichaText</p>
    </div>
    <form name="vm.frmCreateProject" class="m-t" role="form" ng-submit="vm.create()" novalidate>
      <!-- Nombre -->
      <label class="col-sm-2 control-label">Nombre</label>
      <div class="form-group cometInput" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'name') }">
        <input type="text" name="name" ng-model="vm.project.name" class="form-control" placeholder="Nombre del proyecto">
        <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'name')" class="control-label" role="alert">
          <div>{{ vm.validationErrors['name'] }}</div>
        </div>
      </div>
      <!-- Descripcion -->
      <label class="col-sm-2 control-label">Descripción</label>
      <div class="form-group cometInput" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'description') }">
        <textarea cols="25" rows="7" ng-model="vm.project.description" class="form-control" placeholder="Breve descripción del proyecto"></textarea>
        <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'description')" class="control-label" role="alert">
          <div>{{ vm.validationErrors['description'] }}</div>
          <div>{{ vm.validationErrors['all'] }}</div>
        </div>
      </div>
      <!-- Invitar -->
      <div class="crearProyectoSubmit">
        <label class="control-label">Personas a invitar</label>
        <div>
           <p>@MichaText</p>
        </div>
        <div ng-repeat="invite in vm.invites" class="m-b" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'address_' + ($index + 1))}">
          <label class="col-sm-2 control-label"></label>
            <div class="input-group invitarEmails">
                <input type="text" name="email" ng-model="invite.address" class="form-control" placeholder="Dirección de correo"/>
                <span class="input-group-btn">
                  <button ng-click="vm.removeInvite(invite)" type="button" class="btn btn-danger">Borrar</button>
                </span>
            </div>
            <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'address_' + ($index + 1))" class="control-label" role="alert">
              <div>{{ vm.validationErrors['address_' + ($index + 1)] }}</div>
            </div>
        </div>
        <p>
          <button type="button" class="btn btn-success btn-xs m-t" name="button" ng-disabled="vm.invitesLimitReached" ng-click="vm.addInvite()">Agregar invitación</button>
        </p>
        <p class="text-muted" ng-show="vm.invitesLimitReached">
          Puedes ingresar un máximo de {{vm.membersPerProjectPerStep}} personas en esta instancia. <br>
          Si deseas invitar mas personas puedes hacerlo desde la vista "Administrar proyecto"
        </p>
      </div>
      <!-- Submit -->
      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2 crearProyectoSubmit">
          <button class="btn btn-w-m btn-primary" type="submit">Crear proyecto</button>
          <a class="btn btn-link" ui-sref="dashboard.project-list">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
