<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
      <h2>Proyectos</h2>
      <ol class="breadcrumb2">
        <li>
          <input ng-model="vm.filterQuery" type="text" placeholder="Filtrar..." class="form-control" name="top-search" id="top-search">
        </li>
        <li>
          <button ng-click="vm.gotoCreateProject()" type="button" name="btnCrearProyecto" class="btn btn-primary" style="float:right">Crear Proyecto</button>
        </li>
      </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <!-- No tiene proyectos -->
    <div ng-show="vm.isEmpty" class="jumbotron text-center">
        <p>No encontramos proyectos en los que participes :(</p>
        <p>
          <a ng-click="vm.gotoCreateProject()" class="btn btn-xl btn-primary">Crear proyecto</a>
        </p>
    </div>
    <!-- listado de proyectos -->
    <div ng-hide="vm.isEmpty" ng-repeat="project in vm.projects | filter:vm.filterQuery | orderBy:createdAt" class="col-lg-4 proyecto-lg-4">
      <div class="contact-box">
        <a href="/#/dashboard/projects/{{project.id}}">
          <div class="col-sm-8 proyecto-sm-8">
            <div>
              <span class="rolProyecto" ng-show="project.isOwner">
                Dueño
              </span>
            </div>
            <h3><strong>{{project.name}}</strong></h3>
            <p>{{project.description}}</p>
            <ul class="miembrosProyecto">
              <li ng-repeat="member in filtered = (project.members | limitTo:6)">
                <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" />
              </li>
              <li ng-show="vm.hiddenMembersCount(project.members, filtered) > 0"><p>+{{vm.hiddenMembersCount(project.members, filtered)}}</p></li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- proyectos cerrados -->
<div ng-hide="vm.closedProjectsEmpty" class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Proyectos Cerrados</h2>
	<ol class="breadcrumb2">
		<li>
			<input ng-model="vm.closedFilterQuery" type="text" placeholder="Filtrar..." class="form-control">
		</li>
	</ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <!-- listado de proyectos cerrados -->
    <div ng-hide="vm.closedProjectsEmpty" ng-repeat="project in vm.closedProjects | filter:vm.closedFilterQuery | orderBy:createdAt" class="col-lg-4 proyecto-lg-4">
      <div class="contact-box text-muted">
        <div class="col-sm-8 proyecto-sm-8">
          <div>
            <span class="rolProyecto" ng-show="project.isOwner">
              Dueño
            </span>
          </div>
          <h3><strong>{{project.name}}</strong></h3>
          <p>{{project.description}}</p>
          <ul class="miembrosProyecto">
            <li ng-repeat="member in filtered = (project.members | limitTo:6)">
              <img alt="image" class="img-circle" title="{{member.alias}}" ng-src="{{member.profilePicture}}" />
            </li>
            <li ng-show="vm.hiddenMembersCount(project.members, filtered) > 0"><p>+{{vm.hiddenMembersCount(project.members, filtered)}}</p></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
