<div class="container">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Comet</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <div id="formulario" class="middle-box text-center loginscreen">
    <div>
      <div class="text-center">
        <h3 class="logo-name">Comet</h3>
      </div>
      <h3>Crear cuenta en Comet</h3>
      <p>Crea una cuenta para empezar a comunicarte!</p>
      <form name="vm.frmCreateUser" class="m-t" role="form" ng-submit="vm.create()" novalidate>
        <!-- Nombre -->
        <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'firstName') }">
          <input type="text" name="firstName" ng-model="vm.user.firstName" class="form-control" placeholder="Nombre">
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'firstName')" class="control-label" role="alert">
            <div class="text-center">{{ vm.validationErrors['firstName'] }}</div>
          </div>
        </div>
        <!-- Apellido -->
        <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'lastName') }">
          <input type="text" name="lastName" ng-model="vm.user.lastName" class="form-control" placeholder="Apellido">
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'lastName')" class="control-label" role="alert">
            <div class="text-center">{{ vm.validationErrors['lastName'] }}</div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'email') }">
          <input type="email" name="email" ng-model="vm.user.email" class="form-control" placeholder="Direccion de correo">
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'email')" class="control-label" role="alert">
            <div class="text-center">{{ vm.validationErrors['email'] }}</div>
          </div>
        </div>
        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'password') }">
          <input type="password" name="password" class="form-control" placeholder="Contraseña"
                 ng-model="vm.user.password"
                 popover="{{vm.passwordPattern}}"
                 popover-placement="bottom"
                 popover-trigger="focus"/>
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'password')" class="control-label" role="alert">
            <div class="text-center">{{ vm.validationErrors['password'] }}</div>
          </div>
        </div>
        <!-- Repetir password -->
        <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword') }">
          <input type="password"  name="confirmPassword" ng-model="vm.user.confirmPassword" class="form-control" placeholder="Repetir la contraseña">
          <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword')" class="control-label" role="alert">
            <div class="text-center">{{ vm.validationErrors['confirmPassword'] }}</div>
            <div>{{ vm.validationErrors['all'] }}</div>
          </div>
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-primary block full-width m-b">Crear cuenta</button>
        <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
        <a class="btn btn-sm btn-white btn-block" href="/#/account/login">Iniciar sesión</a>
      </form>
      <p class="m-t"> <small>&copy; Equipo Comet 2015</small> </p>
    </div>
  </div>
</div>
