<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
      <h2>Perfil de <strong>{{ vm.user.firstName + ' ' + vm.user.lastName }}</strong></h2>
      <div ncy-breadcrumb></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeIn">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Editar perfil</h5>
        </div>
        <div class="ibox-content">
          <div class="modificarCuenta">
            <tabset>
              <tab>
                <tab-heading>
                  Modificar datos
                </tab-heading>
                <form name="vm.frmUpdate" ng-submit="vm.update()" class="form-horizontal m-t" role="form" novalidate="">
                  <div class="form-group cometInput">
                    <label class="col-sm-2 control-label">Correo</label>
                    <div class="col-sm-10">
                      <input type="text" name="email" ng-model="vm.user.email" class="form-control" disabled>
                    </div>
                  </div>
                  <div class="form-group cometInput" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'firstName') }">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" name="firstName" ng-model="vm.user.firstName" class="form-control" placeholder="Nombre" required="">
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'firstName')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['firstName'] }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group cometInput"  ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'lastName') }">
                    <label class="col-sm-2 control-label">Apellido</label>
                    <div class="col-sm-10">
                      <input type="text" name="lastName" ng-model="vm.user.lastName" class="form-control" placeholder="Apellido" required="">
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'lastName')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['lastName'] }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group cometInput" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'alias') }">
                    <label class="col-sm-2 control-label">Alias</label>
                    <div class="col-sm-10">
                      <input type="text" name="alias" class="form-control" placeholder="Alias"
                      ng-model="vm.user.alias">
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'alias')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['alias'] }}</div>
                        <div class="text-left">{{ vm.validationErrors['all'] }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 m-t m-b control-label">Avatar</label>
                    <div class="col-sm-10 m-t m-b">
                      <img alt="image" class="img-circle" ng-src="{{vm.user.profilePicture}}" width="48" height="48" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                      <button class="btn btn-w-m btn-primary" type="submit">Guardar</button>
                      <a class="btn btn-link" href="/#/dashboard">Cancelar</a>
                    </div>
                  </div>
                </form>
              </tab>
              <tab>
                <tab-heading>Modificar contraseña</tab-heading>
                <form name="vm.frmChangePassword" ng-submit="vm.changePassword()" class="form-horizontal m-t" role="form" novalidate="">
                  <!-- Password -->
                  <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'password') }">
                    <label class="col-sm-4 control-label">Contraseña actual</label>
                    <div class="col-sm-8">
                      <input type="password" name="password" class="form-control" placeholder="Contraseña"
                      ng-model="vm.password">
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'password')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['password'] }}</div>
                      </div>
                    </div>
                  </div>
                  <!-- New Password -->
                  <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'newPassword') }">
                    <label class="col-sm-4 control-label">Nueva contraseña</label>
                    <div class="col-sm-8">
                      <input type="password" name="newPassword" class="form-control" placeholder="Nueva Contraseña"
                      ng-model="vm.newPassword"
                      popover="{{vm.passwordPattern}}"
                      popover-placement="bottom"
                      popover-trigger="focus"/>
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'newPassword')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['newPassword'] }}</div>
                      </div>
                    </div>
                  </div>
                  <!-- Confirm Password -->
                  <div class="form-group" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword') }">
                    <label class="col-sm-4 control-label">Repetir contraseña</label>
                    <div class="col-sm-8">
                      <input type="password" name="confirmPassword" ng-model="vm.confirmPassword" class="form-control" placeholder="Repetir la contraseña" required="" field-match="" dsfieldmatch="vm.frmChangePassword.newPassword">
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'confirmPassword')" class="control-label" role="alert">
                        <div class="text-left">{{ vm.validationErrors['confirmPassword'] }}</div>
                        <div class="text-left">{{ vm.validationErrors['all'] }}</div>
                      </div>
                    </div>
                  </div>
                  <!-- Submit -->
                  <div class="form-group m-t">
                    <div class="col-sm-8 col-sm-offset-4">
                      <button type="submit" class="btn btn-primary">Modificar contraseña</button>
                      <a class="btn btn-link" href="/#/dashboard">Cancelar</a>
                    </div>
                  </div>
                </form>
              </tab>
              <tab>
                <tab-heading>Cerrar cuenta</tab-heading>
                <form name="vm.frmCloseAccount" ng-submit="vm.close()" class="form-horizontal m-t" role="form" novalidate="">
                  <!-- Checkbox -->
                  <div class="form-group">
                    <label class="col-sm-6 control-label">¿Está seguro de cerrar la cuenta?</label>
                    <div class="col-sm-6 checkbox i-checks">
                      <input type="checkbox" ng-model="vm.imSure" style="margin-left:10px;"><i></i>
                    </div>
                  </div>
                  <!-- Password -->
                  <div class="form-group">
                    <label class="col-sm-4 control-label">Contraseña actual</label>
                    <div class="col-sm-8" ng-class="{ 'has-error': helpers.fieldIsNotValid(vm.validationErrors, 'password') }">
                      <input type="password" name="password" class="form-control" placeholder="Contraseña" ng-model="vm.password"/>
                      <div ng-messages="helpers.fieldIsNotValid(vm.validationErrors, 'password')" class="control-label" role="alert">
                        <div class="text-center">{{ vm.validationErrors['password'] }}</div>
                        <div class="text-center">{{ vm.validationErrors['all'] }}</div>
                      </div>
                    </div>
                  </div>
                  <!-- Submit -->
                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-4">
                      <button type="submit" class="btn btn-primary" ng-disabled="(vm.imSure == false)">Cerrar cuenta</button>
                      <a class="btn btn-link" href="/#/dashboard">Cancelar</a>
                    </div>
                  </div>
                </form>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
